<nav class="nav">
  <div class="nav-full">
    {% for item in site.data.navigation %}
    <a class="nav-item" href="{{ item.link }}">
      {{ item.name }}
    </a>
    {% endfor %}
    <a href="/assets/resume.pdf" class="resume-card" target="_blank">
      Resume
    </a>
  </div>

  <div class="nav-dropdown">
    <button class="nav-toggle">
      ☰
    </button>
    <div class="nav-menu">
      {% for item in site.data.navigation %}
      <a class="nav-item" href="{{ item.link }}">
        {{ item.name }}
      </a>
      {% endfor %}
    </div>
    <a href="/assets/resume.pdf" class="resume-card" target="_blank">
      Resume
    </a>
  </div>
</nav>

<script src="/assets/js/nav.js"></script>