<div class="other">
    {% for item in site.data.others %}
    {% if forloop.index | modulo: 2 == 0%}
    <div class="otherSection">
        <div class="otherContent">
            <h2>{{ item.title }}</h2>
            <p>{{ item.content }}</p>
        </div>
        <div class="otherImages">
            <img src="{{ item.image1 }}" alt="{{ item.title }}">
            <img src="{{ item.image2 }}" alt="{{ item.title }}">
        </div>
    </div>
    {% else %}
    <div class="otherSection">
        <div class="otherImages">
            <img src="{{ item.image1 }}" alt="{{ item.title }}">
            <img src="{{ item.image2 }}" alt="{{ item.title }}">
        </div>
        <div class="otherContent">
            <h2>{{ item.title }}</h2>
            <p>{{ item.content }}</p>
        </div>
    </div>
</div>