body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font: {
        family: 'Aptos', sans-serif;
        size: 1.2rem;
    }
    background: linear-gradient(#22092C, #872341);
    color: #F05941;
    -ms-overflow-style: none;
    scrollbar-width: none;
    background-attachment: fixed;
    margin: 0 auto;
    padding: 1rem;
    max-width: 70vw;
    text-align: center;
}

hr {
    border: 1px solid #F05941;
    margin: 10px;
}

h1 {
    font-size: 3rem;
    margin: 10px;
}

.header {
    text-align: center;
    padding: 5px;
    margin: 15px;
}

.nav {
    display: flex;
    font-size: 1.2rem;
    justify-content: space-between;
    padding: 5px;
    margin: 5px;
}

.navItem{
    color: #F05941;
    text-decoration: none;
    padding: 5px;
    margin: 5px;
    &:hover {
        color: #872341;
    }
}

.pane {
    display: flex;
    flex-direction: column;
    padding: 5px;
    margin: 5px;
}

.paneItem {
    text-align: center;
    color: #F05941;
    text-decoration: none;
    margin: 10px;
    border-radius: 100px;
    &:hover {
        background-color: #22092C;
        transition: background-color 0.5s;
    }
    transition: background-color 0.5s;
}

.paneItem h2, .paneItem p {
    margin: 15px;
}

.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    width: 50rem;
    border-radius: 20px;
    &:hover {
        background-color: #22092C;
        transition: background-color 0.5s;
    }
    transition: background-color 0.5s;
    text-decoration: none;
}

.projectContainer {
    min-width: 15rem;
    max-width: 50rem;
    display: flex;
    align-items: center;
    justify-content: right;
}

.projectImage {
    margin: 10px;
}

.projectImage img {
    width: 10rem;
    height: 10rem;
    border-radius: 15px;
}

.projectInfo {
    padding: 15px;
    text-align: left;
}

.projectInfo h2, p {
    margin: 5px;
    padding: 0;
    color: #F05941;
}

.projectsPage {
    text-align: left;
}

.projectsPage p, .projectsPage a{
    font-size: 1.5rem;
    margin: 1rem;
    padding: 0;
}

.backToProjects {
    text-decoration: none;
    color: #F05941;
    &:hover {
        color: #872341;
    }
}

.projectHeader {
    display: flex;
    align-items: center;
}

.projectHeader img {
    width: 5rem;
    height: 5rem;
    border-radius: 15px;
    margin: 10px;
}

.projectLinksDiv {
    display: flex;
    align-items: center;
}

.projectLinks {
    text-decoration: none;
    color: lightseagreen;
    &:hover {
        color: #872341;
    }
    margin: 1rem;
}

.projectContent a {
    color: #F05941;
    text-decoration: none;
    &:hover {
        color: #872341;
    }
}

.projectSkills {
    margin-top: 3rem;
    margin-left: 1rem;
}

.skill {
    margin-right: 0.8rem;
    font-size: 1.5rem;
    border: 2px solid #22092C;
    background-color: rgba(34, 9, 44, 0.5);
    border-radius: 10px;
    padding: 0.4rem;
    user-select: none;
}

.footer {
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
}

.footer a {
    color: #D90200;
    text-decoration: none;
}

.footerRight {
    display: flex;
    align-items: center;
}

.footerRight img {
    margin: 0.5rem;
}

.footer span {
    color: #872341;
    background-color: white;
    border-radius: 50px;
    padding: 1rem;
    margin: 0.5rem;
}