@import url('https://fonts.googleapis.com/css2?family=Ubuntu');
$font-color: white;
$nav-color: #761ec8;
$hover-color: #933DC9;

@keyframes slideUp {
    from {
        opacity: 0;
        transform: translateY(5vh);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes appear {
    0% {
        visibility: visible;
        opacity: 0;
    }
    100% {
        visibility: visible;
        opacity: 1;
    }
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font: {
        family: 'Ubuntu', sans-serif;
        size: calc(1.2rem - 0.2vw);
    }
    background: linear-gradient(black, #22092C);
    color: $font-color;
    -ms-overflow-style: none;
    scrollbar-width: none;
    background-attachment: fixed;
    margin: 0 auto;
    padding: 1rem;
    max-width: 70vw;
    text-align: center;
}

hr {
    border: 1px solid $nav-color;
    margin: 10px;
}

h1 {
    font-size: calc(3rem - 0.7vw);
    margin: 20px;
}

h2 {
    font-size: calc(2rem - 0.5vw);
    margin: 20px;
}

.header {
    text-align: center;
    padding: 5px;
    margin: 15px;
}

.nav {
    display: flex;
    justify-content: space-between;
    font-style: italic;
    padding: 5px;
    margin: 5px;
}

.navItem{
    color: $nav-color;
    text-decoration: none;
    padding: 5px;
    margin: 5px;
    &:hover {
        color: $hover-color;
    }
}

.pane {
    visibility: hidden;
    display: flex;
    flex-direction: column;
    padding: 5px;
    margin: 5px;
}

.paneItem {
    display: flex;
    align-items: center;
    justify-content: center;
    color: $font-color;
    width: 50rem;
    text-decoration: none;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 100px;
    &:hover {
        background-color: $hover-color;
        transition: background-color 0.5s;
    }
    transition: background-color 0.5s;
}

@for $i from 1 through 5 {
    .paneItem:nth-child(#{$i}) {
        animation: appear 1s forwards;
        animation-delay: $i * 0.5s;
    }
}

.paneItem h2, .paneItem p {
    margin: 15px;
}

.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: slideUp 0.5s forwards;
}

.experiences {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.project, .experience {
    color: $font-color;
    display: flex;
    justify-content: space-between;
    margin: 20px;
    width: 60rem;
    max-width: 100%;
    border-radius: 20px;
    &:hover {
        background-color: $hover-color;
        transition: background-color 0.5s;
    }
    transition: background-color 0.5s;
    text-decoration: none;
}

.experience {
    visibility: hidden;
}

@for $i from 1 through 5 {
    .experience:nth-child(#{$i}) {
        animation: appear 0.5s forwards;
        animation-delay: $i * 0.2s;
    }
}

button {
    background-color: transparent;
    border: none;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    font-size: 1.2rem;
    cursor: pointer;
    &:hover {
        background-color: $hover-color;
        transition: background-color 0.5s;
    }
    transition: background-color 0.5s;
}

.projectContainer, .experienceContainer {
    min-width: 15rem;
    max-width: 50rem;
    display: flex;
    align-items: center;
    justify-content: right;
}

.projectImage, .experienceImage {
    margin: 10px;
}

.projectImage img, .experienceImage img{
    width: 10rem;
    height: 10rem;
    border-radius: 15px;
}

.projectInfo, .experienceInfo {
    padding: 15px;
    text-align: left;
}

.projectInfo h2, .experienceInfo h2, p {
    margin: 5px;
    padding: 0;
}

.projectsPage {
    display: flex;
    justify-content: space-between;
}

.projectsPage p, .projectsPage a{
    margin: 1rem;
    padding: 0;
}

.backToProjects {
    display: flex;
    justify-content: left;
    text-decoration: none;
    color: $nav-color;
    &:hover {
        color: $hover-color;
    }
}

.projectBodyText {
    text-align: left;
    width: 60rem;
}

.projectImages {
    width: 40rem;
}

.projectImages img {
    width: 100%;
    height: 20rem;
    margin: 10px;
}

.projectImages iframe {
    width: 100%;
    height: 20rem;
    margin: 10px;
}

.projectHeader {
    display: flex;
    align-items: center;
}

.projectHeader img {
    width: 5rem;
    height: 5rem;
    border-radius: 15px;
    margin: 10px;
}

.projectLinksDiv {
    display: flex;
    align-items: center;
}

.projectLinks {
    text-decoration: none;
    color: $nav-color;
    &:hover {
        color: $hover-color;
    }
    margin: 1rem;
}

.projectContent a {
    color: $font-color;
    text-decoration: none;
    &:hover {
        color: $hover-color;
    }
}

.projectSkills {
    margin-top: 3rem;
    margin-left: 1rem;
}

.skill {
    display: inline-block;
    color: $font-color;
    margin-right: 0.8rem;
    margin-bottom: 0.8rem;
    font-size: 1.5rem;
    border: 2px solid $nav-color;
    background-color: rgba(147, 61, 201, 0.5);
    border-radius: 10px;
    padding: 0.4rem;
    user-select: none;
}

.experience {
    color: $font-color;
    width: 30rem;
}

.popup {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    animation: appear 0.7s forwards;
}

.popupContent {
    position: relative;
    background-color: #22092C;
    padding: 20px;
    border: 2px solid $nav-color;
    border-radius: 20px;
    margin: auto;
    width: 50%;
    height: 70rem;
    max-height: 80vh;
    transform: translate(0, 4rem);
    animation: appear 0.7s forwards;

}

.popupContainer img {
    width: 5rem;
    height: 5rem;
    border-radius: 15px;
    margin-left: 10px;
}

.popupBigImage {
    width: 30vw;
    height: 30vh;
    border-radius: 15px;
    margin-bottom: 20px;
    object-fit: cover;

}

.popupHeader h2, .popupHeader p {
    padding: 0;
    margin: 0;
}

.popupHeader {
    display: flex;
    align-items: center;
    justify-content: center;
}

.popupContent hr {
    margin: 1rem;
}

.popupContent p {
    text-align: left;
    margin: 1rem;
}

.show {
    display: block;
}

.footer {
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
}

.footer a {
    color: #D90200;
    text-decoration: none;
}

.footerRight {
    display: flex;
    align-items: center;
}

.footerRight img {
    margin: 0.5rem;
}

.footer span {
    color: #22092C;
    background-color: white;
    border-radius: 50px;
    padding: 1rem;
    margin: 0.5rem;
}